{% extends "base.html" %}
{% block content %}
    <script defer type="module" src="../static/signup.js"></script>
    <div class="overlay"></div>
    <h3 class="mb-5">Create new account!</h3>
    <div class="container">
        <div class="spinner"></div>
        <div class="row g-3">
            <div class="col-md-4">
                <label for="validationServerUsername" class="form-label">Username</label>
                <div class="input-group has-validation">
                  <span class="input-group-text" id="inputGroupPrepend3">@</span>
                  <input type="text" class="form-control" id="username" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required>
                  <div id="validationUsernameFeedback" class="invalid-feedback"></div>
                </div>
              </div>
              <div class="col-md-6">
                <label for="validationServer03" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" aria-describedby="validationPasswordFeedback" required>
                <div class="valid-feedback">Looks good!</div>
                <div id="validationPasswordFeedback" class="invalid-feedback"></div>
              </div>
            <div class="col-12">
              <button class="btn btn-primary" type="submit" id="signup">Sign Up!</button>
            </div>
        </div>
    </div>
    <br>    
      <div class="footer">
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
{% endblock content %}